# pipreqs . --force --use-local
# 忽略模型文件
*.onnx

# 忽略缓存文件
.vscode/
**/__pycache__/

# 忽略模型目录
models/

# 忽略项目文件
configs/cfg_global.json
test.py
build.bat
gitpush.bat

# 忽略打包文件夹
*.build/
*.dist/
*.onefile-build

# 保留 .gitkeep 文件
!**/.gitkeep
